<div class="notcenter">
<div id="sitesbar">
	<div id="addSites">
		<h2>My Sites</h2>
	    <p ><a href="#" title="+" id="plus"></a></p>
	    <div class="addsitesinput hide">
	    	<p><input id="inputAdd" type="text" placeholder="Enter a Url www.google.com" /></p>
	    <button id="addButton">Add</button>
	    </div>
	</div>
	<div id="addedSites">
		<ul id="siteList">
      <li class='site_item_first hide' data-cookie='sample-cookie'>
      </li>
		</ul>
<!--     <a href="#" title="" id="manage_sites">Manage Sites</a>
    <ul id="siteListManage">
    </ul> -->
	</div>
</div>
<div id="content">
	<iframe id="theiframe" width="1024px" height="100%" style="height: 820px;" frameBorder="0" src="http://www.apple.com"></iframe>
</div>
<div id="feed">
	<div id="feeds">
		<h2>Feed</h2>
	</div>
</div>
</div>
