<div class="center">
	<div id="sitesbar">
		<div id="addSites">
			<h2>My Sites</h2>
		    <p ><a href="#" title="+" id="plus">+</a></p>
		    <p class="addsitesinput hide"><input id="inputAdd" type="text" name="siteName" value="siteName" /></p>
		</div>
		<div id="addedSites">
			<ul id="siteList">
			</ul>
		</div>
	</div>
	<div id="content">
		<iframe width="675px" height="1000px" frameBorder="0" src="http://www.techcrunch.com"></iframe>
	</div>
	<div id="feed">
		<div id="feeds">
			<h2>Feed</h2>
		</div>
	</div>
</div>