<div class="center">
	<div id="sitesbar">
		<div id="addSites">
			<h2>My Sites</h2>
		    <p ><a href="#" title="+" id="plus"></a></p>
		    <div class="addsitesinput hide">
		    	<p><input id="inputAdd" type="text" placeholder="Enter a Url www.google.com" /></p>
		    <button id="addButton">Add</button>
		    </div>
		</div>
		<div id="addedSites">
			<ul id="siteList">
			</ul>
		</div>
	</div>
	<div id="content">
		<iframe id="theiframe" width="675px" height="1000px" frameBorder="0" src="http://www.apple.com"></iframe>
	</div>
	<div id="feed">
		<div id="feeds">
			<h2>Feed</h2>
		</div>
	</div>
</div>