<script>

 $(document).ready(function() {

 	$("#plus").click(function(){
   		console.log('click');
   		$(".addsitesinput").toggle();
   });

  function set_images () {
    var listItems = $("#siteList li");
    console.log(listItems);
    listItems.each(function(idx, li) {
    var product = $(li);
    var data = $(this).attr('data-cookie');
    if(data === "nba.com"){
      product.attr('id', 'nba');
    }
    if(data === "espn.com"){
      product.attr('id', 'espn');
    }
    if(data === "apple.com"){
      product.attr('id', 'apple');
    }
    if(data === "engadget.com"){
      product.attr('id', 'engadget');
    }
    if(data === "nytimes.com"){
      product.attr('id', 'nyt');
    }
    if(data === "techcrunch.com"){
      product.attr('id', 'tc');
    }
    if(data === "theverge.com"){
      product.attr('id', 'theverge');
    }
    if(data === "bgr.com"){
      product.attr('id', 'bgr');
    }
    // and the rest of your code
    console.log(product + "product in list");
    });
  }
 	function get_cookies_array() {

    var cookies = { };

    if (document.cookie && document.cookie != '') {
        var split = document.cookie.split(';');
        console.log(split);
        for (var i = 0; i < split.length; i++) {
            var name_value = split[i].split("=-");
            //console.log("name_value " + name_value[0]);
            if(name_value[1] !== undefined){
              console.log('here');
              name_value[0] = name_value[0].replace(/^ /, '');
              cookies[decodeURIComponent(name_value[0])] = decodeURIComponent(name_value[1]);
            }

        }
    }

    return cookies;

}
  console.log(get_cookies_array());

   //$.cookie("example", null);


   function buildSitesListCookies(){
   			var cookies = get_cookies_array();

   			var li_list = "";
			for(var name in cookies) {
  			 li_list +="<li class='site_item' data-cookie='"+ cookies[name]+ "' ><a class='close' href='#' data-cookie='"+ cookies[name]+ "'>x </a>" + name  + "</li>";
		}
		return li_list;
   }
    $("#siteList").append(buildSitesListCookies());


    $('a.close').live('click',function(){
      console.log("a.close");
    	var data = $(this).attr('data-cookie');
      console.log(data);
    	 $.cookie(data, null);
    	 $("#siteList li").remove();
    	 $("#siteList").append(buildSitesListCookies());
        set_images();
    });

    $('.site_item').live('click', function(){
    	var url = $(this).text();
    	url = url.substring(2,url.length);
    	console.log(url);
    	$("#theiframe").attr('src',"http://" + url);
    });

    $("#addButton").click(function(){
    	var url = $("#inputAdd").val();
    	if(url !== ""){
    		$.cookie(url, "-"+url);
    		$("#siteList li").remove();
    		$("#siteList").append(buildSitesListCookies());
        set_images();
        $("#inputAdd").val("");
        $(".addsitesinput").toggle();
    	}
    })

    set_images();

    function buildSitesListCookies_M(){
        var cookies = get_cookies_array();

        var li_list = "";
      for(var name in cookies) {
         li_list +="<li class='site_item_manage' data-cookie='"+ cookies[name]+ "' ><a class='close' href='#' data-cookie='"+ cookies[name]+ "'>x </a>" + name  + "</li>";
    }
    return li_list;
   }

   $("#siteListManage").append(buildSitesListCookies_M).toggle();
   $("#manage_sites").click(function(){
    $("#siteListManage").toggle();
   });

 });

</script>

<div class="notcenter">
	<div id="sitesbar">
		<div id="addSites">
			<h2>My Sites</h2>
		    <p ><a href="#" title="+" id="plus"></a></p>
		    <div class="addsitesinput hide">
		    	<p><input id="inputAdd" type="text" placeholder="Enter a Url www.google.com" /></p>
		    <button id="addButton">Add</button>
		    </div>
		</div>
		<div id="addedSites">
			<ul id="siteList">
			</ul>
      <a href="#" title="" id="manage_sites">Manage Sites</a>
      <ul id="siteListManage">
      </ul>
		</div>
	</div>
	<div id="content">
		<iframe id="theiframe" width="1024px" height="100%" style="height:100%;" frameBorder="0" src="http://www.apple.com"></iframe>
	</div>
	<div id="feed">
		<div id="feeds">
			<h2>Feed</h2>
		</div>
	</div>
</div>
